/* Importing fonts from Google Font */
@import url("https://fonts.googleapis.com/css?family=Merienda|BioRhyme&display=swap");

body {
  text-align: center;
  background: #2c2f33;
  color: #ffffff;
  font: 18px "Merienda", cursive;
}

.guild {
  margin-top: 32px;
  text-align: left !important;
  background: #121619;
  padding: 12px;
}

.guild li {
  list-style-type: none;
  margin: 8px;
  font-family: "Courier New", Courier, monospace;
}

.hide-big {
  display: none;
}

h1 {
  color: #bbddf9;
  text-shadow: #000000 2px 4px;
}

hr {
  height: 0;
  border-bottom: 1px #ccccff solid;
  width: 90%;
  margin-bottom: 24px;
}

.links {
  margin: 16px;
  margin-top: 32px;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.links a {
  padding: 16px;
  border-radius: 12px;
  background: #121619;
  color: #bbccd7;
  text-decoration: none;
  font-family: "BioRhyme", serif;
  flex-grow: 1;
  margin: 12px;
}

.guilds {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 10%;
  padding: 5%;
  background: #121619;
  height: 150px;
}

img {
  border-radius: 50%;
}

img:hover {
  border: 4px #ffffff solid;
}

.links a:hover {
  border-radius: 12px;
  color: #ccffff;
  font-weight: bolder;
}

@media only screen and (max-width: 720px) {
  .links {
    flex-direction: column;
  }
  .links a {
    margin-bottom: 8px;
  }

  body {
    font-size: 14px;
  }

  .guilds {
    flex-direction: column;
    height: fit-content !important;
  }
  .guilds * {
    margin: 8px;
  }
  .hide-big {
    display: block;
  }
}
